header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: lavender;
  border-bottom: 3rem solid darkgrey;
  font-size: 10rem;
}

h1 {
  margin-left: 9rem;
  color: yellow;
}

nav {
}

nav a {
  text-decoration: none;
  color: hotpink;
  font-size: 9rem;
  border: 2px solid black;
}
